/* style sheet */

h1 {
	font-family: "Trebuchet MS Header";
	background-color: #CD5C5C;
	color: white;
	text-align: center;
}

video {
	left: 33%;
	position: relative;
}

div {
	font-size: 18px;
	font-family: "Palatino Header";
	text-align: center;
	color: white;
	background-color: #CD5C5C;
}